In [2]:
import pandas as pd 
import numpy as np

In [12]:
df = pd.read_csv('flight_distance.csv')

drop_column = [
    "Departure_lat",
    "Departure_lon",
    "Arrival_lat",
    "Arrival_lon",
    "lat_1",
    "lat_2",
    "lon_1",
    "lon_2",
    "lat_1_radians",
    "lat_2_radians",
    "lon_1_radians",
    "lon_2_radians"
    ]
df.drop(columns=drop_column, inplace=True)
df.head()

,Normalised City Pair,Departure Code,Arrival Code,distance (miles),distance (Km)
0,"London, United Kingdom - New York, United Stat...",LHR,JFK,3446,5546
1,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,5642,9080
2,"London, United Kingdom - New York, United Stat...",LHR,JFK,3446,5546
3,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,5642,9080
4,"London, United Kingdom - Singapore, Singapore",SIN,LHR,6771,10898