In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv('flight_distance.csv')
Df = pd.DataFrame(df)
Df.head(10)

,Normalised City Pair,Departure Code,Arrival Code,Departure_lat,Departure_lon,Arrival_lat,Arrival_lon,lat_1,lat_2,lon_1,lon_2,lat_1_radians,lat_2_radians,lon_1_radians,lon_2_radians,distance (miles),distance (Km)
0,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79,51.5,40.64,-0.45,-73.79,0.898844,0.709302,-0.007854,-1.287878,3446,5546
1,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45,-26.1,51.47,28.23,-0.45,-0.455531,0.898321,0.492706,-0.007854,5642,9080
2,"London, United Kingdom - New York, United Stat...",LHR,JFK,51.5,-0.45,40.64,-73.79,51.5,40.64,-0.45,-73.79,0.898844,0.709302,-0.007854,-1.287878,3446,5546
3,"Johannesburg, South Africa - London, United Ki...",JNB,LHR,-26.1,28.23,51.47,-0.45,-26.1,51.47,28.23,-0.45,-0.455531,0.898321,0.492706,-0.007854,5642,9080
4,"London, United Kingdom - Singapore, Singapore",SIN,LHR,1.3,103.98,51.47,-0.45,1.3,51.47,103.98,-0.45,0.022689,0.898321,1.814793,-0.007854,6771,10898
5,"London, United Kingdom - New York, United Stat...",JFK,LCY,40.6,-73.79,51.50,0.05,40.6,51.50,-73.79,0.05,0.708603,0.898844,-1.287878,0.000873,3468,5582
6,"London, United Kingdom - New York, United Stat...",LCY,JFK,51.5,0.05,40.64,-73.79,51.5,40.64,0.05,-73.79,0.898844,0.709302,0.000873,-1.287878,3467,5579
7,"London, United Kingdom - Newark, United States...",EWR,LHR,40.7,-74.18,51.47,-0.45,40.7,51.47,-74.18,-0.45,0.710349,0.898321,-1.294685,-0.007854,3460,5569
8,"Bombay, India - London, United Kingdom",LHR,BOM,51.5,-0.45,19.09,72.86,51.5,19.09,-0.45,72.86,0.898844,0.333183,-0.007854,1.271646,4486,7219
9,"Dubai, United Arab Emirates - London, United K...",DXB,LHR,25.3,55.35,51.47,-0.45,25.3,51.47,55.35,-0.45,0.441568,0.898321,0.966039,-0.007854,3416,5498